node_modules
bun.lock
bun.lockb

# Logs
logs
*.log
npm-debug.log*


# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
dist
test-results

# OS
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
*.local

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
